@model List<Student>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista studentów</h1>
    <ul>
        @foreach (var student in Model)
        {
            <li>@student.FirstName @student.LastName
                - data urodzenia: @student.BirthDate.ToShortDateString()
                punkty: @student.EctsPoints
                <a asp-action="DeleteStudent" asp-route-id="@student.Id">Usuń</a>
                &nbsp;<a asp-action="UpdateStudent" asp-route-id="@student.Id">Zmień</a>

            </li>
        }
    </ul>
    <div>
        <a asp-action="CreateStudent">Dodaj nowego studenta</a>
    </div>
</body>

</html>